body {
  margin: 0;

}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  a {
    text-decoration: none;
    color: white;
    margin: 0;
  }

  a:hover {
    text-decoration: underline;
  }
  
  .nav ul {
    width: 25vw;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    gap: 5px;
    flex-wrap: wrap;
  }
  
  li {
    list-style: none;
  }
  
  body {
    background: black;
    color: white;
  }
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #063970;
  }
  
  #myname {
    font-size: 5em;
    border: white 3px solid;
    padding: 0.25em 1em;
    text-shadow: 2px 2px 5px black;
  }
  
  .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background: #063970;
  }
  
  #first-project {
    display: flex;
    width: 50%;
    margin: auto;
  }


#first-project-image-a {
    width: 100%;
    margin: 1em;
}

#first-project-image {
  width: 100%;
}

  .project-grid {
    display: grid;
    grid-template-columns:33% 33%;
    justify-content: space-around;
    grid-gap: 4rem;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 6rem;
  }

  .project-grid img {
    width: 100%;
  }

  .project-title {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 45em) { .project-grid {
    display: grid;
    grid-template-columns: 33%;
    justify-content: center;
    align-items: center;
  }
    
  }
 