body {
  margin: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background: black;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    /* box shadow is subtle, but makes the nav bar pop */
    padding: 15px;
  }

  #self-portrait {
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
  }
  
  a {
    text-decoration: none;
    color: white;
    margin: 0;
  }

  a:hover {
    text-decoration: underline;
  }
  
  .nav ul {
    width: 25vw;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    gap: 5px;
    flex-wrap: wrap;
  }
  
  li {
    list-style: none;
  }
  
  body {
    background: black;
    color: white;
  }
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #063970;
  }
  
  #myname {
    font-size: 5em;
    border: white 3px solid;
    padding: 0.25em 1em;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    margin: 4rem;
    border-radius: 10px;
  }

  #aboutme {
    text-align: center;
    font-size: 150%;
  }
  
  h2 {
    font-size: 150%;
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background: #063970;
    padding: 1.5rem;
    font-size: 1.2rem;
  }

  /* first project separated to control it's size independent of the rest of the grid  */
  
  #first-project {
    display: flex;
    width: 50%;
    margin: 4rem auto;
  }

#first-project-image {
  width: 100%;
}

  .project-grid {
    display: grid;
    grid-template-columns:33% 33%;
    justify-content: space-around;
    grid-gap: 4rem;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 6rem;
  }

  .project-grid img {
    width: 100%;
  }

  .project-title {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 45em) { .project-grid {
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    align-items: center;
  }
    
  }

  @media screen and (max-width: 45em) { #first-project-image {
    display: grid;
    grid-template-columns: 50%;
  }
    
  }

  @media screen and (max-width: 45em) { #first-project {
    margin-bottom: 4rem;
  }
    
  }
 /* 45em was choosen because it fit the needs of the project and may be changed in future revisions */